flask
supabase
python-dotenv
openai==1.76.2
numpy
pandas
langchain==0.3.24
langchain-community==0.3.23
langchain-core==0.3.56
langchain-openai==0.3.14
langchain-text-splitters==0.3.8
langsmith==0.3.39
markdown-it-py==3.0.0